.notiflix-notify {
    top: 64px;
}

.modal_backdrop {
    position: fixed;
    z-index: 6;
    width: 100vw;
    height: 100vh;
    top: 0;

    background-color: rgba(17, 17, 17, 0.40);
}

.modal_window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 579px;
    width: calc(100% - 40px);
    padding: 24px;

    border-radius: 18px;
    border: 2px solid var(--color-black);
    background: var(--primery-bgc);
}

.modal__button_close {
    margin-left: auto;
    border: none;
    background-color: transparent;
}

.button_cross {
    stroke: var(--color-black);
    pointer-events: none;
}

.form__element {
    position: relative;
    padding-top: 28px;
}

.form__element__input {
    height: 64px;
    width: 100%;
    padding: 20px 40px 20px 40px;
    align-items: center;
    border-radius: 40px;
    border: 2px solid var(--color-black);
    color: var(--color-black);
    background: var(--primery-bgc);
}

.form__element__input:not(:placeholder-shown) + .form__element__label,
.form__element__input:focus + .form__element__label {
transform: translateY(-120%);
}

.form__element__label {
    position: absolute;
    left: 40px;
    top: 48px;
    padding: 0 4px;
    background: var(--primery-bgc);
    color: var(--color-black);
    transition: var(--transition__stock);
    border-radius: 4px;
}

.form__button_submit {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 20px;

    border-radius: 40px;
    color: var(--color-white);
    background-color:var(--color-black);
    border: none;

    transition: var(--transition__stock);
}

.form__button_submit:hover {
    transform: scale(1.02);
}

.buttons_change_form {
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

.form__button_submit, .modal__form__container, .buttons_change_form .button, .modal_window {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.33;

    letter-spacing: -.18px;
    text-transform: uppercase;
}

.buttons_change_form .button {
    color:rgba(17, 17, 17, 0.50);
    background-color: transparent;
    border: none;
    transition: var(--transition__stock);
}

.buttons_change_form .button:hover {
    color: #4F2EE8;
}

.buttons_change_form .button:disabled {
    text-decoration-line: underline;
    color: #4F2EE8;
    cursor: not-allowed;
}

