#best-sellers-container{
    display: block;
    margin-top: 40px;
}

@media screen and (min-width: 768px){
    #best-sellers-container{
        margin-top: 100px;
    }
}

@media screen and (min-width: 1440px) {
    #best-sellers-container{
        margin-top: 40px;
    }
}

