.categories {
max-height: 228px;
overflow-y: scroll;
}
.categories__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 20px;
}
.categories__item {
    font-family: 'Italic';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.32px;
    color: var(--text-color);
}
.categories__item:hover,
.categories__item:focus
{
    color: var(--color-accent);
    text-transform: uppercase;
    font-weight: 700;
    transition: var(--transition__stock);
}


.support-ukraine {
    max-height: 352px;
        border-radius: 16px;
        background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
        box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.10);
       
}

.support-ukraine__container-title {
    padding-top: 28px;
    display: flex;
    gap: 12px;
justify-content: center;

}
._section_categories {
    padding-top: 40px;
    margin-top: 0px
}
.aside__conteiner{
    gap: 40px;
}
.support-ukraine__title {
    font-family: 'Italic';
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.88px;
        color: var(--color-white);
}


.support-ukraine__list {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    gap: 20px;

}

.support-ukraine__list__conteiner{

    overflow-y: hidden;
    max-height: 200px;
}
.found_img{
    filter: brightness(0) invert(1);
    height: 32px;
    width: 132px;
}

.support-ukraine__btn {
position: relative;
    left: 50%;
    transform: translate(-50%, 0);
width: 32px;
    height: 32px;
    border-radius: 50%;
    align-items: center;
    background-color: #FFFFFF;
    border-color:#FFFFFF;
}


@media screen and (min-width: 768px){

    .aside__conteiner {
            gap: 32px;
        }
        .categories {
        width: 335px;
        max-height: 474px;
        }
  .support-ukraine{
                    width: 335px;
                    max-height: 474px;
                }

  .support-ukraine__list__conteiner {
  max-height: 270px;

                }
  .support-ukraine__list{
    padding-top: 42px;
    padding-left: 40px;
    align-items: flex-start;
    gap: 20px ;
  }
.support-ukraine__btn{
    top: 15%;
    width: 38px;
    height: 38px;
}
.categories__item{
    font-size: 18px;
}
}
@media screen and (min-width: 1440px){

    .support-ukraine__list__conteiner {
            max-height: 300px;
    
        }
.aside__conteiner {
        gap: 86px;
    }

    .categories {
        width: 356px;
    }

    .support-ukraine {
        width: 356px;
        height: 474px;
    }
        .support-ukraine__btn {
            top: 10%;
           
        }
}
