@import '~node_modules/modern-normalize/modern-normalize.css';

._section{
    padding-top: 40px;
    padding-bottom: 40px;
}

._container{
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width: 768px){
    ._container{
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1440px){
    ._container{
        width: 1440px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
