.footer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    
    max-height: 300px;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    // bottom: 0;
}

.qwe {
    display: flex;
    gap: 5vw;
}
.footer_container{
    background: var(--color-white);
    padding-top: 13px;
  padding-bottom: 14px;
  border-radius: 8px 8px 0px 0px;
  border: 1.5px solid var(--color-black);
  min-width: 768px;
  
}

@media screen and (min-width: 768px) {
    .footer_container {
        width: 768px;
    }
}

@media screen and (min-width: 1440px) {
    .footer_container {
        width: 1440px;
    }
}

.footer__redes-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.footer__texto {
    text-align: center;
    color: var(--color-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 128.571%; 
    letter-spacing: -0.56px;
    text-transform: uppercase;
}

.btn-aaaaaa {
    width: 200px;
    height: 40px;
    background-color: RGB(180, 190, 230);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: all 0.2s ease;
}

.btn-aaaaaa.active{
    scale: scale(0.96)
}

.btn-aaaaaa:hover {
    background-color: var(--color-violet);
}

.footer-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all .09s ease-out;
}

.footer-modal.show {
    visibility: visible;
    z-index: 100;
    opacity: 1;
}

.footer-modal .footer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.footer-modal-window {
    position: relative;
    z-index: 2;
    width: 550px;
    max-height: 600px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    padding: 30px;
    margin: 20px;
    overflow: auto; 
    transition: inherit;
    border-radius: 18px;
    border: 2px solid #111;
    background: #FFF;
    z-index: 10000;
    justify-content: center;
    align-items: center;
}

.footer-modal.show .footer-modal-window {
    margin-top: 0;
}

.footer-btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: none;
    opacity: 0.7;
}

.footer-btn-close:hover {
    opacity: 1;
}


/*-------------------------TEAM-------------------------*/




.team-list._list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.team-modal {
    width: calc(50% - 10px); 
    margin-bottom: 20px; 
    display: flex;
    align-items: center; 
    justify-content: center;
}

.team-circle {
    width: 54px;
    height: 54px;
    background-color: var(--color-black);
    border-radius: 50%;
    margin-right: 8px; 
    flex-shrink: 0; 
}



.team-image{
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    cursor: help;
}

.git-icon{
    fill: var(--color-black);
    width: 40px;
    height: 40px;
}

.footer-icon{
    display: flex;
    justify-content: center;
    gap: 20px;
}