
.footer__redes-wrapper {
    display: flex;
    width: 64px;
    height: 64px;
    position: fixed;
    left: 20px;
    top: 95%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
    border: 5px solid rgba(79, 46, 232, 0.30);
}
.btn-aaaaaa {
    width: 56px;
    background-color: var(--color-violet);
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    opacity: 0.9;
}
.btn-aaaaaa.active{
    transform: scale(0.96);
}
.btn-aaaaaa:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
    
}

/*-------------   MODAL   --------------------*/

.footer-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all .09s ease-out;
}
.footer-modal.show {
    visibility: visible;
    z-index: 100;
    opacity: 1;
}
.footer-modal .footer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}
.footer-modal-window {
    position: relative;
    z-index: 2;
    width: 550px;
    max-height: 600px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    background-color:var(--primery-bgc);;
    padding: 30px;
    margin: 20px;
    overflow: auto; 
    transition: inherit;
    border-radius: 18px;
    border: 2px solid var(--color-black);
    padding: 20px;
    
    z-index: 10000;
    justify-content: center;
    align-items: center;
    max-height: 80vh; 
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color:transparent;
    &::-webkit-scrollbar {
    width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color:var(--scroll-color);
        border-radius: 12px;    
    }
    &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    background-color:transparent;
    }
}
.footer-modal.show .footer-modal-window {
    margin-top: 0;
}
.footer-btn-close {
    position: absolute;
    right: 2px;
    top: 10px;
    border: none;
    background: none;
    opacity: 0.7;
}

.footer-btn-close:hover {
    opacity: 1;
}
.footer-name{
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: var(  --color-black);
}

/*-------------------    TEAM    -------------------*/

.team-list._list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 25px;
}
.team-modal {
    width: calc(50% - 10px); 
    margin-bottom: 20px; 
    display: flex;
    align-items: center; 
    justify-content: center;
    border: 2px solid var( --color-black);
    border-radius: 10px; 
    overflow: hidden; 
}
.team-circle {
    width: 54px;
    height: 54px;
    background-color: var(--color-black);
    border-radius: 50%;
    margin-right: 8px; 
    flex-shrink: 0; 
}
.team-image{
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    cursor: help;
}
.git-icon{
    width: 40px;
    height: 40px;
    fill: var(--color-black);
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.rfnfnoer{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.team-placeholder{
    padding: 15px;
}
