.footer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    border-radius: 8px 8px 0px 0px;
    border: 2px solid var(--color-black);
    background: var(--color-white);
    margin-top: auto;
    position: fixed;
    bottom: 0;
    align-self: center;
    left: 50%;
    height: 80px;
    transform: translate(-50%);
        width: 375px;
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1440px) {
        width:1440px;
    }
}
.qwe{
    display: flex;
    // justify-content: center;
    // align-items: center;
    gap:5vw;
}

.footer__redes-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 45px auto;
    text-align: center; 
}
  
  .footer__texto {
    text-align: center;
    // margin-top: auto; 
    // margin-bottom: 10px; 

    color: var(--color-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 128.571%; 
    letter-spacing: -0.56px;
    text-transform: uppercase;
  }
  
  .btn-aaaaaa {
    width: 200px;
    height: 40px;
    background-color: RGB(180, 190, 230);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
  }
  
  .btn-aaaaaa:hover {
    background-color: var(--color-violet);
  }
  /*---------------------  Modal  ---------------------*/

.footer-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all .09s ease-out;
}

.footer-modal.show{
    visibility: visible;
    z-index: 100;
    opacity: 1;
}

.footer-modal .footer-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    opacity: 0.7;
    z-index: 0;
}
.footer-modal-window{
    position: relative;
    z-index: 2;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    padding: 30px;
    margin-top: -40px;
    transition: inherit;
}

.footer-modal.show .footer-modal-window{
    margin-top: 0;
}

.footer-btn-close{
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: none;
    opacity: 0.7;
}
.footer-btn-close:hover{
    opacity: 1;
}
