#best-sellers-container{
    display: block;
    margin-top: 40px;
    
}

.five-books{
    display: flex;
}

@media screen and (min-width: 768px){
    #best-sellers-container{
        margin-top: 100px;
    }
}

@media screen and (min-width: 1440px) {
    #best-sellers-container{
        margin-top: 40px;
    }
}

.title_best-sellers{
    margin-bottom: 40px;
}

* {
    outline: 1px solid red;
    }

    .see_more{
        margin-top: 8px;
        
        padding: 14px 28px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 40px;
        border: 2px solid var(--color-violet);

        color: var(--color-black);
        font-family: DM Sans;
        font-size: 14px;
        font-weight: 700;
        line-height: 128.571%; 
        letter-spacing: -0.14px;
        text-transform: uppercase;
        margin-left: auto;

    }
.title_best-sellers{
    color: var(--color-black);
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 108.333%; 
    letter-spacing: -1.92px;
}

    .title_book {
        color: var(--color-violet);
    }