#best-sellers-container {
    display: block;
    transition: margin-top 0.5s ease; 
}

.best_list{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.five-books {
    display: flex;
}

.see_more {
    margin-top: 32px;
    padding: 14px 28px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    border: 2px solid var(--color-violet);
    background-color: transparent;
    color: var(--color-black);
    font-size: 14px;
    font-weight: 700;
    line-height: 128.571%;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    margin-left: auto;
    &:hover,
    &:focus{
        color: var(--color-white);
        background-color: var(--color-violet);
    }
}

.title_best-sellers {
    color: var(--color-black);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 108.333%;
    letter-spacing: -1.92px;
    display: inline;
}

.books-list{
    display: flex;
    column-gap: 24px;
}

.title_book {
    color: var(--color-violet);
}



.five-books {
    margin-top: 18px;
}

.min-title {
    color: var(--description-color);
    font-size: 14px;
    line-height: 128.571%; 
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

/*---------------------------------------------------------*/

@media screen and (min-width: 768px) {
    #best-sellers-container {
        // margin-top: 100px;
        width: 704px;
        transition: margin-top 0.5s ease; 
    }
    .min-title{
        line-height: 171.429%;
    }
    .title_best-sellers{
        font-size: 48px;
    }

}

@media screen and (min-width: 1440px) {
    #best-sellers-container {
        width: 996px;
        transition: margin-top 0.5s ease; 
    }
    .min-title{
        line-height: 171.429%;
    }
}