.header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
}

.header ._container {
    display: flex;
    padding: 14px 20px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    border-color: var(--color-black);
    border-radius: 0 0 8px 8px;
    height: 64px;
    width: 100vw;
}

.logo-box {
    display: flex;
    width: 108px;
    height: 28px;
}

.logo-box-link {
    display: flex;
    gap: 8px;
    align-items: center;
}

// .logo-box:hover {
//     transform: scale(1.05);
// }

.logo-text {
width: 77px;
height: 14px;
}

.hidden {
    display: none;
}

.header-logo {
    width: 24px;
    height: 24px;
}

.header-box {
    display: flex;
    width: 82px;
    height: 28px;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

.theme-switcher {
    display: inline-block;
    position: relative;
    background-image:linear-gradient(
        to bottom,
        var(--color-violet),
        var(--color-white)
    );
    border-radius: 18px;
    
}

.switch__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    appearance: none;
}

.switch__slider{
    display: inline-block;
    position: relative;
}

.switch__slider::before {
    display: block;
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background-image: linear-gradient(
        to bottom,
        var(--color-white),
        #f7f7f7
    );
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: left .3s;
}

.switch__slider::after {
    display: block;
    content: "";
    width: 40px;
    height: 20px;
    border-radius: 18px;
    background-image: linear-gradient(to bottom,
                var(--color-violet),
                var(--color-white));
}

.switch__input:checked + .switch__slider::before {
display: block;
    content: "";
    position: absolute;
    top: 1px;
    left: 21px;   
}

.switch__input:checked + .switch__slider::after {
    background-image: linear-gradient(to bottom,
                var(--color-violet),
                #686868);
}

// .switch__input:is(:hover, :focus) + .switch__slider {
// box-shadow: inset(0 0 10px 5px var(--color-wrapper));
// }

// .switch__input:checked + .switch__slider {
//     background-image: linear-gradient(
//         to bottom,
//         var(--color-violet,
//         #686868)
//     );
// }

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.header-menu svg path {
    transition: .5s;
}

.header-menu:is(:hover, :focus) svg path {
    stroke: var(--color-violet);
}

/*----Mobile-menu---*/ 

.js-menu-container {
    display: none;
}

.js-menu-container .is-open {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    height: calc(100vh - 64px);
    width: 100vw;
    padding: 20px;
    background-image: radial-gradient(189.32% 190.93% at 59.76% -23.42%, var(--color-violet) 18.03%, var(--color-white) 100%);
    overflow: hidden;
}


.menu-user {
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    width:133px;
    height: 37px;
    padding: 4px 0;
}

.user-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    background-color: var(--color-white);
    border-radius: 50%;
}

.menu-user-name {
    color: var(--color-white);
    font-family: inherit;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
    width: auto;
}

.menu-header-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
}

.menu-home,
.menu-shopping-list {
    width: auto;
    height: auto;
    padding: 8px 16px;
    color: var(--color-white);
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.56px;
    text-transform: uppercase;
}



.menu-shopping-list svg path {
    fill: var(--color-white)
}

.menu-home:is(:hover, :focus) {
    background-color: var(--color-yellow);
    border-radius: 36px;
    font-weight: 700;
    color: var(--color-black);
}

.menu-shopping-list:is(:hover, :focus) {
    background-color: var(--color-yellow);
    border-radius: 36px;
    font-weight: 700;
    color: var(--color-black);
}

.menu-shopping-list:is(:hover, :focus) svg path {
    fill: var(--color-black)
}

.books {
    position: relative;
    left: -15%;
    bottom: -50%;
    background-color: transparent;
    width: 450px;
    height: 439px;
    transform: rotate(-15deg) translateY(-50%);
    flex-shrink: 0;
}

.js_log_out {
    position: fixed;
    left: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 18px;
    border: 1.5px solid var(--color-black);
    background: var(--color-white);
    padding: 14px 24px;
    color: var(--color-black);
        font-family: inherit;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.29px;
        letter-spacing: -0.56px;
}


@media screen and (min-width: 768px){
    .logo-nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.active {
    background-color: var(--color-yellow);
    border-radius: 36px;
    font-weight: 700;
}

.shopping-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.home,
.shopping-list {
    width:auto;
    height: auto;
    padding: 7px 16px;
    color: var(--color-black);
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.56px;
    text-transform: uppercase;
} 

.home:is(:hover, :focus) {
background-color: var(--color-yellow);
    border-radius: 36px;
    font-weight: 700;
}

.shopping-list:is(:hover, :focus) {
    background-color: var(--color-yellow);
    border-radius: 36px;
    font-weight: 700;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    gap: 24px;
}

.header-menu {
    display: none;
}

.user {
display: flex;
align-items: center;
justify-content: space-between;
gap: 4px;
width: 184px;
height: 45px;
padding: 14px;
background-color: var(--color-violet);
border-radius: 36px;
border: none;
} 

.sign-up-text {
    display: block;
    width: 46px;
    height: 18px;
    color: var(--color-white);
    font-family:inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.56px;
}

.user-icon {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    // margin-left: 12px;
    background-color: var(--color-white);
}
.user-name {
    display: none;
    margin-left: 5px;
    color: var(--color-white);
    font-family: inherit;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
}


.down-arrow {
    display: block;
    margin-left: 4px;
}

.down-arrow .hidden {
    display: none;
}
}
@media screen and (min-width: 1280px) {
    .header-nav {
        gap: 24px;
    }
    .logo-nav-wrapper{
        gap: 76px;
    }
}
