.disable-scroll {
    position: relative;
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header {
    display: block;
    position: sticky;
    z-index: 5;
    top: 0;
}

.header ._container {
    display: flex;
    padding-top: 14px;
    padding-bottom: 14px;
    justify-content: space-between;
    align-items: center;
    border: 1.5px solid;
    border-color: var(--color-black);
    background-color: var(--color-white);
    border-radius: 0 0 8px 8px;
    height: 64px;
    max-width: 768px;
    width: auto;
}
.switch__input:focus+.switch__slider {
    outline: 1px solid var(--color-violet);
    cursor: pointer;
}
.switch__input:hover+.switch__slider {
    cursor: pointer;
}
.logo-box {
    display: flex;
    width: 108px;
    height: 28px;
}

.logo-box-link {
    display: flex;
    gap: 8px;
    align-items: center;
}

.logo-text {
width: 77px;
height: 14px;
}


.for_desktop.hidden,
.for_desktop,
.hidden,
.user.hidden {
    display: none;
}

.header-logo {
    width: 24px;
    height: 24px;
}

.logo-text {
    fill: var(--color-black);
}

.header-box {
    display: flex;
    width: 82px;
    height: 28px;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

.theme-switcher {
    display: inline-block;
    position: relative;
    background-image:linear-gradient(
        to bottom,
        var(--color-violet),
        var(--color-white)
    );
    border-radius: 18px;
}

.switch__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    appearance: none;
}

.switch__slider{
    display: inline-block;
    position: relative;
}

.switch__slider::before {
    display: block;
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background-image: linear-gradient(
        to bottom,
        var(--color-white),
        #f7f7f7
    );
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: 0.1s;
}

.switch__slider {
    display: block;
    content: "";
    width: 40px;
    height: 20px;
    border-radius: 18px;
    background-image: linear-gradient(to bottom,
                var(--color-violet),
                var(--color-white));
}


.dark-theme .switch__slider::before {
    transform: translateX(20px);
}

.qq .switch__slider::before {
    transform: translatey(0);
}

.switch__input:checked+.switch__slider {
    background-image: var(--color-switcher); 
}
// linear-gradient(to bottom,
//             var(--color-violet),
//            var(--color-switcher));
/*Button "burger-cross"*/
.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.header-menu svg path {
    transition: .5s;
}

.header-menu:is(:hover, :focus) svg path {
    stroke: var(--color-violet);
}

.user {
    display: none;
}

/*----Mobile-menu---*/ 

.js-menu-container {
    display: none;
}

.is-open {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: calc(100vh - 64px);
    width: 100vw;
    padding: 20px;
    overflow: hidden;
     background-image: radial-gradient(189.32% 190.93% at 59.76% -23.42%, var(--color-violet) 18.03%, var(--color-white) 100%);
    // &::after{
    //     content: '';
    //     position: relative;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     z-index: 2;
           

    // }
}

.menu-user {
    display: flex;
    align-self: start;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    width: auto;
    height: 37px;
    padding: 4px 0;
    background-color: transparent;
    border: none;
}

.menu-user.hidden {
    display: none;
}

.menu-sign-up-text {
    color: var(--color-white);
}

// .user-wrapper {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 37px;
//     height: 37px;
//     background-color: var(--color-white);
//     border-radius: 50%;
// }

.user-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-left: 5px;
    color: var(--color-white);
    font-family: inherit;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
}
.arrow-down {
    display: block;
    margin-left: 4px;
    fill: var(--color-white);
}

.arrow-down .hidden {
    display: none;
}

.user-icon {
    // width: 100%;
    // height: 100%;
}

.thumb-user-icon {
    overflow: hidden;
    width: 37px;
    height: 37px;
    background-color: var(--color-white);
    border-radius: 50%;
}

.menu-user-name {
    color: var(--color-white);
    font-family: inherit;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
    width: auto;
}

.menu-header-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 130px;
}
.menu-home.active,
.menu-shopping-list.active{
    background-color: var(--color-yellow);
    border-radius: 36px;
    font-weight: 700;

}
.menu-home,
.menu-shopping-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    gap: 4px;
    padding: 8px 16px;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    & ~ svg {
        fill: #fff;
    }
}



.menu-shopping-list svg path {
    fill: var(--color-white)
}

.menu-home:is(:hover, :focus) {
    background-color: var(--color-yellow);
    border-radius: 36px;
    font-weight: 700;
    color: var(--color-black);
}

.menu-shopping-list:is(:hover, :focus) {
    background-color: var(--color-yellow);
    border-radius: 36px;
    font-weight: 700;
    color: var(--color-black);
}

.menu-shopping-list:is(:hover, :focus) svg path {
    fill: var(--color-black)
}

.books {
    position: absolute;
    z-index: -1;
    left:50%;
    bottom: -50%;
    background-color: transparent;
    width: 450px;
    height: 439px;
    transform: rotate(-15deg) translate(-50%,-50%);
    flex-shrink: 0;
    background: url(../images/bg-books.png);
    background-repeat: no-repeat;
}

.js_log_out {
    position: fixed;
    left: 20px;
    bottom: 20px;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 18px;
    border: 1.5px solid var(--color-black);
    background: var(--color-white);
    padding: 14px 24px;
    color: var(--color-black);
        font-family: inherit;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.29px;
        letter-spacing: -0.56px;
}

@media screen and (min-width: 768px){

    .header ._container {
        max-width: 768px;
    }

    .logo-nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.home.active,
.shopping-list.active,
.menu-home.active{
    background-color: var(--color-yellow);
    border-radius: 36px;
    font-weight: 700;
}

.shopping-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.shopping-list svg path {
    fill: var(--color-black);
}

.home,
.shopping-list {
    width:auto;
    height: auto;
    padding: 7px 16px;
    color: var(--color-black);
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.56px;
    text-transform: uppercase;
} 

.home:is(:hover, :focus) {
background-color: var(--color-yellow);
    border-radius: 36px;
    font-weight: 700;
}

.shopping-list:is(:hover, :focus) {
    background-color: var(--color-yellow);
    border-radius: 36px;
    font-weight: 700;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    gap: 24px;
}

.header-menu {
    display: none;
}

.user {
display: flex;
align-items: center;
justify-content: space-between;
gap: 4px;
width: fit-content;
max-width: 230px;
height: 45px;
padding: 14px;
background-color: var(--color-violet);
border-radius: 36px;
border: none;
}

.wrapper_buttons {
    position: relative;
}

.for_desktop {
    display: flex;
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
}

.sign-up-text {
    display: block;
    width: 46px;
    height: 18px;
    color: var(--color-white);
    font-family:inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.56px;
}
}
@media screen and (min-width: 1440px) {
   
    .header ._container {
            max-width: 1440px;
        }

    .header-nav {
        gap: 24px;
    }
    .logo-nav-wrapper{
        gap: 76px;
    }
}
