.loader {
    width: 32px;
    height: 32px;
    position: absolute;
    border-radius: 50%;
    color: var(--color-violet);
    animation: fill 1s ease-in infinite alternate;
    top: 50%;
    left: 50%;
    z-index: 102;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    left: 48px;
    top: 0;
    animation: fill 0.9s ease-in infinite alternate;
}

.loader::after {
    left: auto;
    right: 48px;
    animation-duration: 1.1s;
}

@keyframes fill {
    0% {
        box-shadow: 0 0 0 2px inset
    }

    100% {
        box-shadow: 0 0 0 10px inset
    }
}

.wrapper-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(117, 113, 133, 0.15);
    backdrop-filter: blur(2px);
    z-index: 101;
}

.hidden-loader {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}