.form__button_submit {
}
.confirm__btn.__btn {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px){
        max-width: 50%;
    }
}
.is-hiden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition__stock);
}

.modal__form__backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    background-color: rgba(17, 17, 17, 0.40);
    transition: var(--transition__stock);
}
.modal__form__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 579px;
    width: calc(100% - 40px);
    padding: 24px;

    border-radius: 18px;
    border: 2px solid var(--color-black);
    background: var(--primery-bgc);
}
.modal__form {

}
.modal__button_close {
    margin-left: auto;
    border: none;
    background-color: transparent;
}
.modal__form__close__bt {
}
.button_cross {
}
._list {
}
.form__element {
}
.modal__input-adress {
}
.mfi {
    height: 64px;
    width: 100%;
    padding: 20px 130px 20px 40px;
    align-items: center;
    border-radius: 40px;
    border: 2px solid var(--color-black);
    background: var(--primery-bgc);
}
._req-big {
}
._req-big-tel {
}
.modal__form__thanks {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    background-color: rgba(17, 17, 17, 0.40);
    transition: var(--transition__stock);
}
.modal__form__thanks__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    padding-top: 50px;
    max-width: 579px;
    width: calc(100% - 40px);
    padding: 64px;
    gap:24%;
    border-radius: 18px;
    border: 2px solid var(--color-black);
    background: var(--primery-bgc);
}
.thanks-page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
}
.modal__thanks-title>span, .thanks-page-title>span {
    color: #D10914;
    font-size: 40px;
}
