:root {
    --primery-bgc: #F6F6F6;
    --color-white: #FFFFFF;
    
    --text-color:rgba(17, 17, 17, 0.60);// #707070 
    --color-black: #111111;
    --description-color: #B4AFAF;
    --color-violet: #4F2EE8;
    --color-yellow: #EAC645;
    --color-wrapper: #9d9d9d;
    --color-switcher: linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);

    --amazon-filter-img: grayscale(99%);
    --amazon-filter-wImg: grayscale(99%);

    --amazon-hover: grayscale(none);
    --amazon-hover: grayscale(none);

    --filter-apple-img: grayscale(99%);
    --filter-apple-wImg: grayscale(99%);

    --filter-img: grayscale(99%);
    --filter-wImg: grayscale(99%);
    // використовувати тільки в ховері на категорії це значення
    --color-accent: #4F2EE8;
    --transition__stock: all 300ms linear;
     --scroll-color:#E0E0E0; 
}

:root body.dark-theme {
    --primery-bgc: #202024;
    --color-white: #111111;
    --color-black: #FFFFFF;
    --color-accent: #EAC645;
    --color-switcher: fill: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);
    --text-color: rgba(255, 255, 255, 0.50); //#f0f0f0
    
    --amazon-filter-img: brightness(0.1)invert(0.5);
    --filter-filter-wImg:brightness(0.1)invert(0.5);

    --filter-apple-img: grayscale(99%);
    --filter-apple-wImg:grayscale(99%);

    --filter-img: brightness(0.1)invert(0.5);
    --filter-wImg:brightness(0.1)invert(0.5);

    --amazon-hover:  brightness(0.1)invert(1);
    --amazon-hover:  brightness(0.1)invert(1);

    --scroll-color:rgba(17, 17, 17, 0.60);// #707070 
}

@font-face {
    font-family: italic;
    src: url(../fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
    font-display: swap;
}
@font-face {
    font-family: regular;
    src: url(../fonts/DMSans-VariableFont_opsz,wght.ttf);
    font-display: swap;
}

body {
font-family: regular;
font-weight: 400;
background-color: var(--primery-bgc);
scrollbar-width: thin; /* "auto" или "thin" */
    scrollbar-color:transparent;
    &::-webkit-scrollbar {
    width: 12px;
    
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color:var(--scroll-color);
        border-radius: 12px;    
    }

    &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    background-color:transparent;

    }
}


* {
outline: 1px solid red;
}