.main__container {
    display: flex;
    flex-direction: column;
    gap:40px;
}
aside{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    aside{
        flex-direction: row;
        gap: 32px;
    }
    .main__container{
         gap: 100px;
    }
}

@media screen and (min-width: 1440px) {
    .main__container {
        flex-direction: row;
          gap: 40px;
    }
    aside{
        flex-direction: column;
        gap: 86px;
    }
}