.shopping-list__container {
  @media screen and (min-width: 1440px) {
    display: flex;
    gap: 40px;
  }
}

#shopping-list__support-ukraine {
  @media screen and (max-width: 1439px) {
    display: none;
  }
}

.shopping-list__content {
  width: 100%;
}

.shopping-list__title {
  margin-bottom: 40px;
  color: var(--color-black);
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: -1.28px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }
}

.shopping-list__title--accent {
  color: var(--color-violet);
}

.shopping-list__content--default {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  @media screen and (min-width: 768px) {
    margin-top: 140px;
    gap: 20px;
  }
}

.shopping-list__text--default {
  width: 244px;
  color: var(--text-color);
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.28px;

  @media screen and (min-width: 768px) {
    width: 349px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}

.shopping-list__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shopping-list-card {
  padding: 12px;
  display: flex;
  gap: 14px;
  height: 170px;
  color: var(--color-black);
  overflow: hidden;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);

  @media screen and (min-width: 768px) {
    padding: 22px;
    height: 213px;
    gap: 24px;
  }
}

.shopping-list-card__info {
  position: relative;
  width: 100%;
}

.shopping-list-card__image {
  border-radius: 8px;
  min-width: 100px;
  height: 142px;
  @media screen and (min-width: 768px) {
    min-width: 116px;
    height: 165px;
  }
}

.shopping-list-card__title {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.shopping-list-card__category {
  margin-bottom: 8px;
  color: var(--description-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.36px;

  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
  }
}

.shopping-list-card__title,
.shopping-list-card__category {
  @media screen and (max-width: 767px) {
    max-width: 144px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.shopping-list-card__descr {
  max-width: 193px;
  height: 53px;
  margin-bottom: 29px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--color-black);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.56px;

  @media screen and (min-width: 768px) {
    max-width: 508px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 808px;
    margin-bottom: 32px;
  }
}

.shopping-list-card__author {
  color: var(--description-color);
  font-size: 12px;
  font-style: italic;
  line-height: 1.16;
  letter-spacing: -0.48px;
}

.shopping-list-card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-list-card__links {
  display: flex;
  gap: 8;
  align-items: center;

  @media screen and (min-width: 768px) {
    gap: 16px;
  }
}

.shopping-list-card__link {
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: grayscale(0.99);

  transition: var(--transition__stock);
}

.shopping-list-card__link:is(:hover, :focus) {
  filter: none;
 }

.shopping-list-card__link.--amazon {
  width: 32px;
  height: 11px;
  background-color: inherit;
  background-image: url(../images/links-images/amazon.png);

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 15px;
  }
}
.shopping-list-card__link.--apple {
  background-color: inherit;
  background-image: url(../images/links-images/apple.png);

  @media screen and (min-width: 768px) {
    width: 28px;
    height: 27px;
  }
}
.shopping-list-card__link.--barnes {
  background-color: inherit;
  background-image: url(../images/links-images/barnes.png);

  @media screen and (min-width: 768px) {
    width: 32px;
    height: 30px;
  }
}
.shopping-list-card__button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: var(--color-violet);
  border-radius: 50%;
  border: 0;

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.shopping-list-card__button--icon {
  pointer-events: none;
  @media screen and (min-width: 768px) {
    width: 18px;
    height: 18px;
  }
}
