.best-sellers-container{
    display: flex;
}

.book-item {
    display: block;
}

.book-title {
    text-align: start;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.125;
    color: var(--color-black);
    letter-spacing: -0.64px;
    text-transform: uppercase;
    width: 335px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (min-width: 768px) {
            width: 218px;
        }
        @media screen and (min-width: 1440px) {
            width: 180px;
        }
    }

.book-item .book-author {
        color: var(--description-color);
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: 1.16;
        letter-spacing: -0.48px;
        width: 335px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media screen and (min-width: 768px) {
                width: 218px;
            }
            @media screen and (min-width: 1440px) {
                width: 180px;
            }
        
}

.overlay {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
    background-color: var(--color-yellow);
    transform: translateY(100%);
    transition: var(--transition__stock);
}

.overlay-text {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.56px;
    text-transform: uppercase;
}

.thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 14px;
    overflow: hidden;
    border-radius: 8px;
    width: 335px;
    height: 485px;
        @media screen and (min-width: 768px) {
            width: 218px;
            height: 316px;
        }
        
        @media screen and (min-width: 1440px) {
            width: 180px;
            height: 256px;
            flex-shrink: 0;
        }
    }
.thumb > img {
    width: 100%;
    max-height: 100%;
}

.book-item:hover .overlay {
    transform: translateY(0);
}