@import './root';
@import './null';
@import './components';
@import './header';
@import './shoping-list';
@import './category';
@import './support-ukraine';
@import './modal';

@import './get-top-books';
// @import './your-file';
// @import './your-file';
@import './books';
// @import './your-file';
// @import './your-file';
// @import './your-file';
// @import './your-file';
@import './loader';
@import './auth';
@import './section__main';



@import './footer';

@import './_scroll-up';
@import './_section';
@import './book-list';

@import './category_and_support-ukraine';

@import './swiper.scss'

