<div class="js_modal_auth backdrop">
  <div class="modal_window">
    <form class="js_form_sign_in">
      <input type="text" id="name" />
      <label for="name">Name</label>

      <input type="email" id="email" />
      <label for="email">Email</label>

      <input type="text" id="password" />
      <label for="password">Password</label>

      <button type="submit">Sign up</button>
    </form>

    <div class="js_change_form">
      <button type="button" disabled>Sign up</button>
      <button type="button">Sign in</button>
    </div>
  </div>
</div>
