<footer class="footer">
  <div class="footer__body _container">
    <div class="footer__redes footer__redes-wrapper">
      <button data-easy-class="show" class="btn-aaaaaa">Open Modal</button>
    </div>
    <p class="footer__texto">Apple group @ 2023</p>
    <!--Modal-->
    <div class="footer-modal">
      <div class="footer-modal-window">
        <h1>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolorum
          excepturi nemo nostrum repellat minus, eius velit ullam at, debitis id
          voluptas ab cupiditate, quaerat veniam quo? Excepturi, maiores
          aspernatur.
        </h1>
        <button class="footer-btn-close">
          <img
            width="24"
            height="24"
            src="./images/modal-images/x-close.svg"
            alt="close button"
          />
        </button>
      </div>
      <div class="footer-overlay"></div>
    </div>
  </div>
</footer>
