<footer class="footer">
      <div class="footer__redes footer__redes-wrapper">
        <button data-easy-class="show" class="btn-aaaaaa">our team</button>
      </div>
</footer>

<div class="footer-modal">
  <div class="footer-modal-window">
    <div class="rfnfnoer">
      <ul class="team-list _list">
        <li class="team-modal">
          <div class="team-placeholder">
            <img
              class="team-image"
              src="./images/shef.jpg"
              alt=""
              width="94"
              height="94"
            />
            <div class="footer-icon">
              <a
                href="https://github.com/theGreatGrandfather"
                target="_blank"
                class="github"
                ><svg class="git-icon">
                  <use href="./images/sprite.svg#icon-github"></use></svg
              ></a>
              <a
                href="https://www.linkedin.com/in/oleksandr-pradidenko/"
                target="_blank"
                class="linkedin"
                ><svg class="git-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </div>

            <p class="footer-name">Олександр Прадіденко</p>
          </div>
        </li>
        <li class="team-modal">
          <div class="team-placeholder">
            <img
              class="team-image"
              src="./images/rost.jpg"
              alt=""
              width="94"
              height="94"
            />
            <div class="footer-icon">
              <a
                href="https://github.com/Rostyslav-Stetsyk"
                target="_blank"
                class="github"
                ><svg class="git-icon">
                  <use href="./images/sprite.svg#icon-github"></use></svg
              ></a>
              <a
                href="https://www.linkedin.com/in/rostyslav-stetsyk/"
                target="_blank"
                class="linkedin"
                ><svg class="git-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </div>

            <p class="footer-name">Ростислав Стецик</p>
          </div>
        </li>
        <li class="team-modal">
          <div class="team-placeholder">
            <img
              class="team-image"
              src="./images/im.jpg"
              alt=""
              width="94"
              height="94"
            />
            <div class="footer-icon">
              <a
                href="https://github.com/SashaKuh"
                class="github"
                target="_blank"
                ><svg class="git-icon">
                  <use href="./images/sprite.svg#icon-github"></use></svg
              ></a>
              <a
                href="https://www.linkedin.com/in/olexandr-kuharchuk-18a5021b7/"
                class="linkedin"
                target="_blank"
                ><svg class="git-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </div>

            <p class="footer-name">Олександр Кухарчук</p>
          </div>
        </li>
        <li class="team-modal">
          <div class="team-placeholder">
            <img
              class="team-image"
              src="./images/vira.jpg"
              alt=""
              width="94"
              height="94"
            />
            <div class="footer-icon">
              <a
                href="https://github.com/Vestanra"
                class="github"
                target="_blank"
                ><svg class="git-icon">
                  <use href="./images/sprite.svg#icon-github"></use></svg
              ></a>
              <a
                href="https://www.linkedin.com/in/vestanra/"
                class="linkedin"
                target="_blank"
                ><svg class="git-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </div>

            <p class="footer-name">Віра Стецюк</p>
          </div>
        </li>
        <li class="team-modal">
          <div class="team-placeholder">
            <img
              class="team-image"
              src="./images/liza.jpg"
              alt=""
              width="94"
              height="94"
            />
            <div class="footer-icon">
              <a
                href="https://github.com/taranlizz"
                class="github"
                target="_blank"
                ><svg class="git-icon">
                  <use href="./images/sprite.svg#icon-github"></use></svg
              ></a>
              <a
                href="http://www.linkedin.com/in/elyzaveta-taran-0b1279286"
                class="linkedin"
                target="_blank"
                ><svg class="git-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </div>

            <p class="footer-name">Ліза Таран</p>
          </div>
        </li>
        <li class="team-modal">
          <div class="team-placeholder">
            <img
              class="team-image"
              src="./images/kiril.jpg"
              alt=""
              width="94"
              height="94"
            />
            <div class="footer-icon">
              <a
                href="https://github.com/2022KirillMaximov"
                class="github"
                target="_blank"
                ><svg class="git-icon">
                  <use href="./images/sprite.svg#icon-github"></use></svg
              ></a>
              <a
                href="https://www.linkedin.com/in/kirill-maximov-a771b0177/"
                class="linkedin"
                target="_blank"
                ><svg class="git-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </div>

            <p class="footer-name">Кирил Максімов</p>
          </div>
        </li>
        <li class="team-modal">
          <div class="team-placeholder">
            <img
              class="team-image"
              src="./images/dianna.jpg"
              alt=""
              width="94"
              height="94"
            />
            <div class="footer-icon">
              <a
                href="https://github.com/DianaMotorna"
                class="github"
                target="_blank"
                ><svg class="git-icon">
                  <use href="./images/sprite.svg#icon-github"></use></svg
              ></a>
              <a
                href="https://www.linkedin.com/in/diana-motorna-05a745210/"
                class="linkedin"
                target="_blank"
                ><svg class="git-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </div>

            <p class="footer-name">Діанна Моторна</p>
          </div>
        </li>
        <li class="team-modal">
          <div class="team-placeholder">
            <img
              class="team-image"
              src="./images/natalia.jpg"
              alt=""
              width="94"
              height="94"
            />
            <div class="footer-icon">
              <a
                href="https://github.com/NataDent"
                class="github"
                target="_blank"
                ><svg class="git-icon">
                  <use href="./images/sprite.svg#icon-github"></use></svg
              ></a>
              <a
                href="http://www.linkedin.com/in/nataliia-cherkashyna-046a29169"
                class="linkedin"
                target="_blank"
                ><svg class="git-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </div>

            <p class="footer-name">Наталя Черкашина</p>
          </div>
        </li>
      </ul>
    </div>

    <button class="footer-btn-close">
      <svg class="button_cross" width="28" height="28">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="footer-overlay"></div>
</div>
