<header class="header">
  <div class="__container _container">
    <div class="logo-box">
      <a class="logo-box-link link" href=""></a>
    </div>
    <a class="home" href="">
      <img src="" alt="" class="header-logo" />
      <p class="logo-text"></p>
    </a>
    <button class="shopping-list" type="button">
      <span>Shopping list</span>
      <svg widht="" height="">
        <use href="" class="shopping-list-icon"></use>
      </svg>
    </button>

    <div class="theme-switcher">
      <input type="checkbox" />
    </div>
    <button class="header-menu">
      <svg width="24" height="24" aria-label="mobile-menu-switch">
        <use href="" class="icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
