<section id="modal" class="modal modal-js">
  <div>
    <!-- <div class="modal__inner"></div> -->
    <!-- <div class="modal__top"></div> -->
    <button type="button" id="modal-close-btn" class="modal-close-btn">
      X
    </button>
   
    <div class="modal-content">
      <div>
        <img height="100" id="modal-image" src="#" alt="asxasxasx" />
        <div>
          <h4 id="modal-title"></h4>
          <p id="modal-author">Автор книги</p>
          <p id="modal-description">Короткий опис змісту книги</p>
          <ul id="modal-book-links">
            <li><a href="link1" id="amazon-link" target="_blank">Магазин 1</a></li>
            <li><a href="link2" id="apple-link" target="_blank">Магазин 2</a></li>
            <li><a href="link3" id="barnes-link" target="_blank">Магазин 3</a></li>
          </ul>
        </div>
      </div>
      <button id="modal-add-to-list">Add to shopping list</button>
      <p id="modal-greetings-text" class="modal-greetings-text-js">Congratulations! You have added the book to the shopping list. To delete, press the button "Remove from the shopping list".</p>
    </div>
  </div>
</section>
