<button type='button' class='form__button_submit confirm__btn __btn'>confirm order</button>
<form class="modal__form">
    <ul class=" _list">
        <li class="form__element ">
            <input placeholder="" id="pac-input" type="text" class="form__element__input _req-big _req-big-tel"
                id="address" required />
            <label for="address" class="form__element__label">Address</label>
        </li>

        <li class="form__element ">
            <input placeholder="" type="tel" class="form__element__input" id="address" required />

            <label for="address" class="form__element__label">Phone Number</label>
        </li>
    </ul>

    <button type="submit" class="form__button_submit">
        <span>Submit</span>
    </button>`
</form>