<section class="shopping-list__section _section">
  <div class="shopping-list__container _container">
    <aside class="shopping-list__support-ukraine">
      <!-- all categoies -->
      <!-- support Ukraine -->
    </aside>
    <div class="shopping-list__content">
      <h1 class="shopping-list__title">
        Shopping <span class="shopping-list__title--accent">List</span>
      </h1>
      <ul class="shopping-list__list _list">
        <li class="shopping-list__item shopping-list-card">
          <img
            class="shopping-list-card__image"
            src="https://storage.googleapis.com/du-prd/books/images/9781250144058.jpg"
            alt=""
            width="116"
            height="165"
          />
          <div class="shopping-list-card__info">
            <h2 class="shopping-list-card__title">I will find you</h2>
            <p class="shopping-list-card__category">Hardcover fiction</p>
            <p class="shopping-list-card__descr">
              For a while, Daisy Jones & The Six were everywhere. Their albums
              were on every turntable, they sold out arenas from coast to coast,
              their sound defined an era. And then, on 12 July 1979, they split.
              Nobody ever knew why. Until now. They were lovers and friends and
              brothers and rivals.
            </p>
            <div class="shopping-list-card__wrapper">
              <p class="shopping-list-card__author">Harlan Coben</p>
              <div class="shopping-list-card__links">
                <a
                  href=""
                  target="_blank"
                  class="shopping-list-card__link --amazon _link"
                ></a>
                <a
                  href=""
                  target="_blank"
                  class="shopping-list-card__link --apple _link"
                ></a>
                <a
                  href=""
                  target="_blank"
                  class="shopping-list-card__link --barnes _link"
                ></a>
              </div>
            </div>
            <button class="shopping-list-card__button" type="button">
              <svg
                class="shopping-list-card__button--icon"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  d="M6 2H10M2 4H14M12.6667 4L12.1991 11.0129C12.129 12.065 12.0939 12.5911 11.8667 12.99C11.6666 13.3412 11.3648 13.6235 11.0011 13.7998C10.588 14 10.0607 14 9.00623 14H6.99377C5.93927 14 5.41202 14 4.99889 13.7998C4.63517 13.6235 4.33339 13.3412 4.13332 12.99C3.90607 12.5911 3.871 12.065 3.80086 11.0129L3.33333 4M6.66667 7V10.3333M9.33333 7V10.3333"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
