<section class="shopping-list__section _section">
  <div class="shopping-list__container _container">
    <aside>
      <!-- all categoies -->
      <!-- support Ukraine -->
    </aside>
    <div class="shopping-list__content">
      <h1 class="shopping-list__title">
        Shopping <span class="shopping-list__title--accent">List</span>
      </h1>
      <ul class="shopping-list__list _list">
        <li class="shopping-list__item shopping-list-card">
          <img
            class="shopping-list-card__image"
            src="https://storage.googleapis.com/du-prd/books/images/9781250144058.jpg"
            alt=""
            width="100"
            height="142"
          />
          <div class="shopping-list-card__info">
            <h2 class="shopping-list-card__title">I will find you</h2>
            <p class="shopping-list-card__category">Hardcover fiction</p>
            <p class="shopping-list-card__descr">
              For a while, Daisy Jones & The Six were everywhere. Their albums
              were on every turntable, they sold out arenas from coast to coast,
              their sound defined an era. And then, on 12 July 1979, they split.
              Nobody ever knew why. Until now. They were lovers and friends and
              brothers and rivals.
            </p>
            <p class="shopping-list-card__author">Harlan Coben</p>
            <!-- <a class="shopping-list-card__link--amazon">A</a>
            <a class="shopping-list-card__link--apple">B</a>
            <a class="shopping-list-card__link--bookshop">C</a>
            <button class="shopping-list-card__button" type="button">
              Delete
            </button> -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
